.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }

.gallery__img-wrapper {
  display: flex; }
  .gallery__img-wrapper img {
    object-fit: cover; }
  .gallery__img-wrapper--2 {
    grid-column: 2 / 4; }
  .gallery__img-wrapper--5 {
    grid-column: 5 / 7;
    grid-row: 1 / 3; }
  .gallery__img-wrapper--8 {
    grid-column: 3 / 5;
    grid-row: 2 / 4; }
  .gallery__img-wrapper--13 {
    grid-column: 2 / 5; }
  .gallery__img-wrapper--14 {
    grid-column: 5 / 7; }

.members__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.members__item {
  width: 250px; }
  .members__item img {
    border-radius: 50%; }

.news {
  text-align: center;
  display: grid;
  grid-template-areas: "title title title"  "subtitle subtitle subtitle"  "text text text"  "new1 new2 new3"  "concerts concerts concerts";
  justify-content: center;
  align-items: start;
  justify-items: center; }
  .news__title {
    grid-area: title; }
  .news__subtitle {
    grid-area: subtitle; }
  .news__text {
    grid-area: text; }
  .news__item {
    margin: 20px;
    display: inline-block;
    width: 300px;
    text-align: center; }
    .news__item:nth-of-type(1) {
      grid-area: new1; }
    .news__item:nth-of-type(2) {
      grid-area: new2; }
    .news__item:nth-of-type(3) {
      grid-area: new3; }
    .news__item h3 {
      margin-top: 8px; }
    .news__item--concert {
      grid-area: concerts;
      width: 100%;
      margin: 0;
      margin-top: 44px; }
  .news__concert-dates {
    margin: auto;
    border-collapse: collapse; }
    .news__concert-dates td {
      padding: 4px 20px; }
    .news__concert-dates th:nth-of-type(2n + 1),
    .news__concert-dates td:nth-of-type(2n + 1) {
      background-color: #f1f1f1; }
    .news__concert-dates tr:first-child {
      border-bottom: 1px solid #0F0731; }

.social {
  padding: 0; }
  .social__item {
    display: inline;
    margin: 0 0.5rem; }
  .social span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  .social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/social.png");
    background-repeat: no-repeat; }
  .social__instagram {
    background-position: -62px -10px; }
    .social__instagram:hover {
      background-position: -10px -10px; }
  .social__spotify {
    background-position: -62px -62px; }
    .social__spotify:hover {
      background-position: -10px -62px; }
  .social__twitter {
    background-position: -114px -62px; }
    .social__twitter:hover {
      background-position: -114px -10px; }
  .social__youtube {
    background-position: -62px -114px; }
    .social__youtube:hover {
      background-position: -10px -114px; }
