@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Common */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h1 a, h2, h3 {
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h2 {
    font-size: 3.125rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: 1.75rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 0;
}

p, li, a, label, input, textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

img {
    max-width: 100%;
}

header, footer {
    background-color: #0F0731;
    background-image: url("../img/signal.svg");
}

section {
    padding: 80px 36px;
}

section:nth-of-type(2n+2) {
    background-color: #1a1a1a;
    color: #FFFFFF;
}

main {
    padding-top: 4rem;
}

/* Common__Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Common__Footer */

footer {
    padding: 0.75rem;
    color: #FFFFFF;
    font-size: 0.70rem;
    text-align: center;
}

/* Common__Social */

.social {
    padding: 0;
}

.social__item {
    display: inline;
    margin: 0 0.5rem;
}

.social span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/social.png");
    background-repeat: no-repeat;
}

.social__instagram {
    background-position: -62px -10px;
}

.social__instagram:hover {
    background-position: -10px -10px;
}

.social__spotify {
    background-position: -62px -62px;
}

.social__spotify:hover {
    background-position: -10px -62px;
}

.social__twitter {
    background-position: -114px -62px;
}

.social__twitter:hover {
    background-position: -114px -10px;
}

.social__youtube {
    background-position: -62px -114px;
}

.social__youtube:hover {
    background-position: -10px -114px;
}

/* Common__Members */

.members__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.members__item {
    width: 15.625rem;
}

.members__item img {
    border-radius: 50%;
}

.card {
    height: 100%;
}

.card h3,
.card p {
    color: #0F0731;
}

.members__card {
    background-color: transparent;
    width: 15.625rem;
    height: 15.625rem;
    perspective: 1000px;
    animation: glow 0.8s infinite;
}

.members__card:hover {
    box-shadow: 0px 0px 0px 0px transparent !important;
}

.members__card img {
    width: 100%;
    height: 100%;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);  
    }
    50% {
        box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);  
    }
}

.members__card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s cubic-bezier(0.53, 0.01, 0.44, 1);
    transform-style: preserve-3d;
}

.members__card:hover .members__card-inner {
    transform: rotateY(180deg);
}

.members__card-front, .members__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.members__card-back {
    background-color: #FFFFFF;
    color: #212529;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

/* Common__Promo */

.promo__wrapper {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

/* Common__Carousel */

.carousel-control-prev {
    background-image: linear-gradient(90deg, #000, transparent);
}

.carousel-control-next {
    background-image: linear-gradient(270deg, #000, transparent);
}

/* Home */

.home,
.banner {
    padding: 0;
}

/* Home__Banner */

.banner {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    padding-top: 3.375rem;
}

.banner .social {
    position: absolute;
    right: 28px;
    bottom: 0;
}

.banner__scroll-down {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 32px);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}


/* Biography */

.biography__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Discography */

@media screen and (min-width: 992px) {
    .discography__album .nav {
        min-width: 180px;
        max-width: 180px;
    }
}

/* Galery */

.gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gallery__img-wrapper {
    display: flex;
}

.gallery__img-wrapper img {
    object-fit: cover;
}

.gallery__img-wrapper--2 {
    grid-column: 2 / 4;
}

.gallery__img-wrapper--5 {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}

.gallery__img-wrapper--8 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

.gallery__img-wrapper--13 {
    grid-column: 2 / 5;
}

.gallery__img-wrapper--14 {
    grid-column: 5 / 7;
}

/* Contact */

.form {
    margin-top: 40px;
}

.form__submit {
    border: 2px solid #0F0731;
    padding-right: 40px;
    background: url("../img/send-button.png") no-repeat right 5px center;
}
 
.form__submit:hover, .form__submit:focus {
    background-color: #0F0731;
    background-image: url(../img/send-button-white.png);
    color: #FFFFFF;
}

.form label {
    display: block;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form input[type="checkbox"] {
    width: auto;
}

.form label[for="subscription"] {
    display: inline;
}

@media screen and (min-width: 768px) {
    .form {
        display: grid;
        grid-template-columns: 181px 19px 1fr;
        grid-gap: 4px;
    }
    
    .form label {
        grid-column: 1 / 2;
        display: inline;
    }
    
    .form input,
    .form textarea {
        grid-column: 2/4;
        width: auto;
    }
    
    .form input[type="checkbox"] {
        grid-column: 2/3;
    }
    
    .form label[for="subscription"] {
        grid-column: 3/4;
    }
    
    .form__submit {
        justify-self: start;
    }
}

@media screen and (min-width: 992px) {
    .contact {
        background-image: url("../img/contact.jpg");
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}