@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Common */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h1 a, h2, h3 {
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 0;
}

h1 {
    font-size: 4.875rem;
    line-height: 1.15;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.75rem;
}

h3 {
    font-size: 1.75rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

p {
    margin-top: 0;
}

p, li, a, label, input, textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

img {
    max-width: 100%;
}

header, footer {
    background-color: #0F0731;
    background-image: url("../img/signal.svg");
}

section {
    padding: 80px 36px;
}

section:nth-of-type(2n+2) {
    background-color: #1a1a1a;
    color: #FFFFFF;
}

main {
    padding-top: 6.3125rem;
}

/* Common__Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin: 0 0 0 36px;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    border-radius: 30px;
    list-style: none;
}

.nav__link {
    margin: 0 1rem;
    padding-bottom: 0.5rem;
    font-size: 25px;
}

.nav__link--active {
    border-bottom: hsl(140, 98%, 49%) 2px solid;
}

/* Common__Footer */

footer {
    padding: 0.75rem;
    color: #FFFFFF;
    font-size: 0.70rem;
    text-align: center;
}

/* Common__Background */
.background-fixed {
    width: 100vw;
    max-width: 100%;
    height: 200px;
    background-image: url(../img/galeria14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    left: 0;
}

/* Common__Promo */
.promo__wrapper {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

/* Home */

.home {
    padding: 0;
}

/* Home__Banner */

.banner {
    position: relative;
    min-height: 100vh;
    background-image: url("../img/Banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner .social {
    position: absolute;
    right: 28px;
    bottom: 0;
}

/* Biography */

.biography__text-wrapper, .biography__img {
    display: inline-block;
    width: 44%;
}

.biography__img {
    float: right;
}

/* Discography */

.discography {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.discography__track {
    list-style: decimal-leading-zero inside;
}

/* Contact */

.contact {
    background-image: url("../img/contact.jpg");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: right bottom;
}
