.form {
    margin-top: 40px;

    &__submit {
        border: 2px solid $primary;
        padding-right: 40px;
        background: url("../img/send-button.png") no-repeat right 5px center;
    }

    &__submit:hover,
    &__submit:focus {
        background-color: $primary;
        background-image: url(../img/send-button-white.png);
        color: $white;
    }

    label {
        display: block;
        margin-bottom: pxToRem(8);
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: pxToRem(8);
    }

    input[type="checkbox"] {
        width: auto;
    }

    label[for="subscription"] {
        display: inline;
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: 181px 19px 1fr;
        grid-gap: 4px;

        label {
            grid-column: 1 / 2;
            display: inline;
        }

        input,
        textarea {
            grid-column: 2/4;
            width: auto;
        }

        input[type="checkbox"] {
            grid-column: 2/3;
        }

        label[for="subscription"] {
            grid-column: 3/4;
        }

        &__submit {
            justify-self: start;
        }
    }

}
