.members {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        @include setWidth(250px);

        img {
            border-radius: 50%;
        }
    }
}
