$social-medias: (
    "instagram": -62px -10px,
    "spotify": -62px -62px,
    "twitter": -114px -62px,
    "youtube": -62px -114px
);

$social-medias-hover: (
    "instagram": -10px -10px,
    "spotify": -10px -62px,
    "twitter": -114px -10px,
    "youtube": -10px -114px
);

.social {
    padding: 0;

    &__item {
        display: inline;
        margin: 0 0.5rem;
    }

    span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    a {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url("../img/social.png");
        background-repeat: no-repeat;
    }

    @each $name, $value in $social-medias {
        .social__#{$name} {
            background-position: $value;
        }
    }

    @each $name, $value in $social-medias-hover {
        .social__#{$name}:hover {
            background-position: $value;
        }
    }
}
